.login {
  .column {
    .pannel {
      margin-top: 50%;
      background-color: #f9f9f9;
      padding: 40px;
      border-radius: 10px;
    }
  }
  #login {
    a {
      color: #00aeec;
      text-decoration: none;
    }
  }

  #register {
    a {
      color: black;
      text-decoration: none;
    }
  }
}
