#zoneBody {
    background-image: url("../../../public/materials/zone1.png");
    background-size: 100% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-attachment: fixed; */
}