* {
  margin: 0;
}
.video {
  .title {
    padding: 20px;
    padding-top: 25px;
    padding-bottom: 30px;
    .data {
      border-radius: 5px;
      width: 3rem;
      padding: 2px;
      margin-right: 20px;
      float: left;
      color: gray;
    }
    .time {
      border-radius: 5px;
      width: 12rem;
      padding: 2px;
      margin-right: 20px;
      float: left;
      color: gray;
    }
  }
  .content {
    width: 100%;
    padding: 10px 20px 20px 20px;
    .bullet-chat {
      width: 100%;
      margin: 0;
      .status {
        display: flex;
        justify-content: left;
        align-items: center;
        font-size: 8px;
        .send {
          padding: 0;
          .btn {
            margin-left: 5px;
          }
        }
      }
    }
  }
  .tags {
    margin-left: 20px;
    margin-right: 0px;
    .btn {
      margin: 3px;
    }
  }
  .divider {
    margin-left: 20px;
  }
  .comments {
    margin-left: 20px;
    margin-top: 30px;
    padding-right: 10px;
    .send {
      margin-top: 20px;
      margin-bottom: 20px;
      .avatar {
        margin-right: 10px;
      }
      textarea {
        margin-left: 20px;
        overflow: hidden;
      }
    }
  }
}

.wrapper {
  margin-top: 56px;
}

.releaser {
  margin-top: 30px;
  .info {
    margin-left: 10px;
    margin-top: 25px;
    a {
      text-decoration: none;
      cursor: pointer;
      color: #808080;
      font-size: 20px;
    }
  }
}

.recommend-area {
  margin-top: 30px;
}
