#profileBody {
    height: 1000px;
    background-image: url("../../../public/materials/zone1.png");
    background-size: 100% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    /* opacity: 0.4; */
}

#profileBarImage {
    height:80px;
    background-image: url("../../../public/materials/pbar.png");
    background-size: 100% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}

/* #profilePhotoFrame img {
    
} */

#profileLeftNav span {
    font-size: 20px;
    color:rgba(39, 36, 36, 0.674);
}

.profileListTitle {
    margin-left:10px;
}

#profileHomePanel, #profileInfoOut, #profileHeadOut, #profilePayOut {
    padding: 20px;    
    border : solid rgb(218, 218, 218) 1px;    
    background-color: white;    
}

/* #profileHeadOut {
    height: 500px;
} */

#profileHomePanel div {
    
    margin: 10px auto;
    font-size: 20px;
    /* display: inline-block; */
    /* float: left; */
}


#profileInfoPanel input{
    width: 60%;
}

#profileInfoPanel div{
    margin: 10px 0;
    font-size: 20px;
    vertical-align: middle;    
}

#profilePayHead {
    font-size: 30px;        
    text-align: center;
}

#profilePayPanel {
    font-size: 20px;
}

#profilePayPanel div {
    margin: 10px 0;
}

#profileInfoBtn, #profileHeadBtn, #profilePayBtn {
    height: 45px;
    width: 70px;
    font-size: 20px;
    display: block;
    margin: 0 auto;
    background-color: rgb(0,160,216);
    border: none;
}
#profilePayBtn {
    width: 180px;
}

@media screen and (max-width: 980px) {
    #profileLeftNav span {
        font-size: 15px;
    }

    #profileHomePanel div {
        font-size: 15px;
        /* display: inline-block; */
        /* float: left; */
    }

    #profileInfoPanel div{
        margin: 5px 0;
        font-size: 15px;
    }

    #profilePayHead {
        font-size: 20px;        
        text-align: center;
    }

    #profilePayPanel {
        font-size: 15px;
    }

    #profileInfoBtn, #profileHeadBtn, #profilePayBtn {
        height: 35px;
        width: 60px;
        font-size: 15px;
        display: block;
        margin: 0 auto;
        background-color: rgb(0,160,216);
        border: none;
    }

    #profilePayBtn {
        width: 120px;
    }
}
/* #profileBody::after {
    opacity: 0.5;
} */